/* NOTES */
/* IDs used in locations where the item is used in a single location such as the header logo */
/* Classes used in locations where the item is used more than once such as img-float-left */
/* Some items were renamed to be more specific such as #gray-logo-text */

/****************************************/
/* UNIVERSAL */
/****************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/****************************************/
/* SETS THE BACKGROUND STYLING FOR THE WEBSITE AND HEADER */
/****************************************/

body {
    background-color: #d9dcd6;
}

#header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/****************************************/
/* TEXT STYLE FOR THE HEADER LOGO */
/****************************************/

#logo-font {
    display: inline-block;
    font-size: 48px;
}

#gray-logo-text {
    color: #7e7e7e;
}

/****************************************/
/* FOR HEADER NAVBAR LINKS */
/****************************************/

#header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#header ul {
    list-style-type: none;
}

#header li {
    display: inline-block;
    margin-left: 25px;
}

#header a {
    color: #ffffff;
    text-decoration: none;
}

#header a:hover {
    color: #7e7e7e;
}

/****************************************/
/* WEBSITE COVER IMAGE */
/****************************************/

#cover-img {
    max-height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    display: block;
}

/****************************************/
/* MAIN CONTENT AREA */
/****************************************/

#main-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-details {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-details img {
    max-height: 200px;
}

.img-float-left {
    float: left;
    margin-right: 25px;
}

.img-float-right {
    float: right;
    margin-left: 25px;
}

.content-details h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/****************************************/
/* SIDEBAR */
/****************************************/

#sidebar-benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/****************************************/
/* FOOTER */
/****************************************/

#footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

